# Debugging Python code

Go through the exercises below. 

- Each exercise contains some code with **one or more mistakes**. 
- The mistakes can either prompt an error or not.
- There might be multiple ways to fix the mistakes.
- Improving the code readability is also encouraged.

In [3]:
# data creation
beatles = ["John Lennon", "Paul McCartney", "George Harrison", "Ringo Starr"]

numbers = [1, 2, 3, 4, 5]

capitals = {"Germany": "Berlin", 
            "Russia": "Moscow",
            "France": "Paris",
            "China": "Beijing",
            "Egypt": "Cairo",
            "Brazil": "Sao Paulo"
            }

top_profitable_films = {
    "Film": ["Avengers: Endgame", "Avatar", "Titanic", "Star Wars: The Force Awakens", "Jurassic World",
             "The Lion King", "The Avengers", "Frozen II", "Frozen", "Beauty and the Beast"],
    "Year": ["2019", "2007", "1997", "2015", "2015", "2019", "2012", "2019", "2013", "2017"],
    "Worldwide Gross (in billions)": ["2.798", "2.789", "2.194", "2.073", "1.673", "1.656", "1.519", 
                                      "1.450", "1.276", "1.263"]
    }

## Exercise 1:

In [ ]:
for c in capitals.keys():
  print(f"{capitals[c]} is the capital of {c}.")

Berlin is the capital of Germany.
Moscow is the capital of Russia.
Paris is the capital of France.
Beijing is the capital of China.
Cairo is the capital of Egypt.
Sao Paulo is the capital of Brazil.

In [ ]:
# your code here

## Exercise 2:
Let's imagine we want to show our love for Ringo Starr and print a love statement for him as many times as numbers are in the `numbers` list. For all Beatles who are not Ringo, we want to print as many times a hate statement. The output should look like this:

```
I hate John Lennon!
I hate Paul McCartney!
I hate George Harrison!
I love Ringo Starr!


I hate John Lennon!
I hate Paul McCartney!
I hate George Harrison!
I love Ringo Starr!


I hate John Lennon!
I hate Paul McCartney!
I hate George Harrison!
I love Ringo Starr!


I hate John Lennon!
I hate Paul McCartney!
I hate George Harrison!
I love Ringo Starr!


I hate John Lennon!
I hate Paul McCartney!
I hate George Harrison!
I love Ringo Starr!
```

In [ ]:
# Bad code:
for beatle in beatles:
  if beatle == "Ringo Starr":
    for n in numbers:
      print(f"I love {beatle}!")
  if beatle != "Ringo Starr":
    print(f"I hate {beatle}!")
    print("\n")

I hate John Lennon!


I hate Paul McCartney!


I hate George Harrison!


I love Ringo Starr!
I love Ringo Starr!
I love Ringo Starr!
I love Ringo Starr!
I love Ringo Starr!

In [4]:
for i in range(5):
  for beatle in beatles:
    if beatle != "Ringo Starr":
      print(f"I hate {beatle}!")
    else:
      print(f"I love {beatle}!")
      print("\n")

I hate John Lennon!
I hate Paul McCartney!
I hate George Harrison!
I love Ringo Starr!


I hate John Lennon!
I hate Paul McCartney!
I hate George Harrison!
I love Ringo Starr!


I hate John Lennon!
I hate Paul McCartney!
I hate George Harrison!
I love Ringo Starr!


I hate John Lennon!
I hate Paul McCartney!
I hate George Harrison!
I love Ringo Starr!


I hate John Lennon!
I hate Paul McCartney!
I hate George Harrison!
I love Ringo Starr!

## Exercise 3:

In [ ]:
import pandas as pd
top_profitable_films = pd.DataFrame(top_profitable_films)
top_profitable_films.head

<bound method NDFrame.head of                            Film  Year Worldwide Gross (in billions)
0             Avengers: Endgame  2019                         2.798
1                        Avatar  2007                         2.789
2                       Titanic  1997                         2.194
3  Star Wars: The Force Awakens  2015                         2.073
4                Jurassic World  2015                         1.673
5                 The Lion King  2019                         1.656
6                  The Avengers  2012                         1.519
7                     Frozen II  2019                         1.450
8                        Frozen  2013                         1.276
9          Beauty and the Beast  2017                         1.263>

## Exercise 4:

We realised that, in our top_films_df, the year of the movie Avatar is wrong. We want to replace it for the correct one, 2009:

In [ ]:
top_films_df = pd.DataFrame.from_dict(data = top_profitable_films)
top_films_df.iloc[1,1] = "2009"
top_films_df

                           Film  Year Worldwide Gross (in billions)
0             Avengers: Endgame  2019                         2.798
1                        Avatar  2009                         2.789
2                       Titanic  1997                         2.194
3  Star Wars: The Force Awakens  2015                         2.073
4                Jurassic World  2015                         1.673
5                 The Lion King  2019                         1.656
6                  The Avengers  2012                         1.519
7                     Frozen II  2019                         1.450
8                        Frozen  2013                         1.276
9          Beauty and the Beast  2017                         1.263

## Exercise 5:

We want to get the average gross profit of all films:

In [ ]:
top_films_df.iloc[:,0]

0               Avengers: Endgame
1                          Avatar
2                         Titanic
3    Star Wars: The Force Awakens
4                  Jurassic World
5                   The Lion King
6                    The Avengers
7                       Frozen II
8                          Frozen
9            Beauty and the Beast
Name: Film, dtype: object

In [ ]:
round(top_films_df.iloc[:,2].astype('float').mean(),3)

1.869